body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:1552px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:32px;
  width:1000px;
  height:496px;
  display:flex;
  transition:none;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:496px;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:991px;
  background:inherit;
  background-color:rgba(100, 100, 100, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:20px;
  width:521px;
  height:991px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:52px;
  width:154px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:87px;
  width:466px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:50px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:34px;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:550px;
  width:826px;
  height:461px;
  display:flex;
  transition:none;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:461px;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:154px;
  width:154px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:189px;
  width:466px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:152px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:34px;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:734px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:34px;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
